@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap')
layer(base);

@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

@theme {
  --font-sans: 'Inter', serif;
  --font-mono: 'Inter', serif;
  --font-serif: 'Inter', serif;

  --roseville: hsl(69, 48%, 34%);
  --roseville-primary: hsl(69, 69%, 25%);
  --roseville-accent: hsl(88, 38.5%, 15.3%);
  --roseville-background: hsl(67, 24%, 93%);

  --background: hsl(0 0% 100%);
  --foreground: var(--roseville);
  --card: hsl(0 0% 100%);
  --card-foreground: var(--roseville);
  --popover: hsl(0 0% 100%);
  --popover-foreground: var(--roseville);
  --primary: var(--roseville-primary);
  --primary-foreground: hsl(210 40% 98%);
  --muted: hsl(210 40% 96.1%);
  --muted-foreground: hsl(215.4 16.3% 46.9%);
  --accent: var(--roseville-background);
  --accent-foreground: var(--roseville-accent);
  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(210 40% 98%);
  --border: hsl(214.3 31.8% 91.4%);
  --input: hsl(214.3 31.8% 91.4%);
  --ring: var(--roseville);

  --radius: 0.5rem;

  --header-height: 77px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}
